###1. Pay attention to global variable

In [2]:
opinion = "awesome"

def my_func():
    global opinion
    opinion = "cool"

my_func()
print("Python is " + opinion)

Python is cool

###2. Data Type

Python has the following data types built-in by default:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

In [3]:
# get data type
x = 5
y = 1j
z = range(6)
print(type(x), type(y), type(z))

<class 'int'> <class 'complex'> <class 'range'>

### 3. Python string processing

In [1]:
# Python casting
x = str(3.0)
print(type(x))

# List slicing
string = "Hello, World! "
print(string[1:5])
print(string[-5:-1])

# The strip() method removes the whitespace of the string on both sides
string = "  Hello, World! "
print(string.strip())  # returns "Hello, World!"

# The split() method splits the string into substrings if it finds instances of the separator
string = "Hello, World!"
print(string.split(",")) # returns ['Hello', ' World!']

string = "Hello, World!"
print(string.lower())
print(string.upper())

string = "Hello, World!"
print(string.replace("H", "J"))

txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

<class 'str'>
ello
rld!
Hello, World!
['Hello', ' World!']
hello, world!
HELLO, WORLD!
Jello, World!
True

### 4. Python list/array 
* Python does not have built-in support for Arrays, but Python Lists can be used instead.
* however, to work with arrays in Python you will have to import a library, like the NumPy library.

List Method	Description
* append()	Adds an element at the end of the list
* clear()	Removes all the elements from the list
* copy()	Returns a copy of the list
* count()	Returns the number of elements with the specified value
* extend()	Add the elements of a list (or any iterable), to the end of the current list
* index()	Returns the index of the first element with the specified value
* insert()	Adds an element at the specified position
* pop()	Removes the element at the specified position
* remove()	Removes the item with the specified value
* reverse()	Reverses the order of the list
* sort()	Sorts the list

In [4]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

['orange', 'kiwi', 'melon']
['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry']
['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']
[]

### 5. Python dictionary processing

Method	Description
* clear()	Removes all the elements from the dictionary
* copy()	Returns a copy of the dictionary
* fromkeys()	Returns a dictionary with the specified keys and value
* get()	Returns the value of the specified key
* items()	Returns a list containing a tuple for each key value pair
* keys()	Returns a list containing the dictionary's keys
* pop()	Removes the element with the specified key
* popitem()	Removes the last inserted key-value pair
* setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
* update()	Updates the dictionary with the specified key-value pairs
* values()	Returns a list of all the values in the dictionary

In [5]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

for x in thisdict.values():
  print(x)

for x, y in thisdict.items():
  print(x, y)

thisdict.pop("model")
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

Ford
Mustang
2018
brand Ford
model Mustang
year 2018
{'brand': 'Ford', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford', 'year': 1964}
{}

### 6. Python Lambda function
* A lambda function is a small anonymous function.
* A lambda function can take any number of arguments, but can only have one expression.
* The syntax of lambda functions is shown below, The expression is always executed and returned.
* lambda arguments: expression

In [6]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [7]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
print(mydoubler(11))

22

### 7. Python Classes and Objects
* All classes have a function called __init__(), which is always executed when the class is being initiated.
* Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created

In [18]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person("wiki", 33)
print(p1.name, p1.age)

wiki 33

In [17]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def my_func(self):
        print("My name is " + self.name)
p1 = Person("wiki", 33)
p1.my_func()

My name is wiki

In [12]:
# Inheritance allows us to define a class that inherits all the methods and properties from another class.

# Create a Parent Class
class Person:
    def __init__(self, fname, lname):
        self.first_name = fname
        self.last_name = lname
    
    def print_name(self):
        print(self.first_name, self.last_name)

x = Person("Wiki", "Yu")
x.print_name()

# Create a child class
class Student(Person):
    pass
    
x = Student("Mike", "Franklin")
x.print_name()

Wiki Yu
Mike Franklin

In [13]:
# When you add the __init__() function, the child class will no longer inherit the parent's __init__() function
# The child's __init__() function overrides the inheritance of the parent's __init__() function.
# To keep the inheritance of the parent's __init__() function, add a call to the parent's __init__() function

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [14]:
# Use the super() Function
# Python also has a super() function that will make the child class inherit all the methods and properties from its parent:
# By using the super() function, you do not have to use the name of the parent element, it will automatically inherit the methods and properties from its parent.

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [15]:
# Add a property to the child class

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In [16]:
# add property and method to the child class

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

### 8. Python Iterators
* An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.
* Lists, tuples, dictionaries, and sets are all iterable objects.

In [19]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [20]:
# We can also use a for loop to iterate through an iterable object

mytuple = ("apple", "banana", "cherry")
for x in mytuple:
  print(x)

apple
banana
cherry